.hint{
  position: relative;
  padding: 0 0 0 3rem;
  min-width: 100px;
}

.hint_test{
  margin-top: 7.7rem;
}

.hint__text{
  color: #362d29;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 16px;
}

.hint__arrows{
  opacity: 0.3;
  color: #8c9cb7;
  font-family: "Arimo";
  font-size: 10.6rem;
  font-weight: 700;
}

.hint__arrows_left{
  position: absolute;
  top: -3rem;
  left: 0rem;
  line-height: 6rem;
}

.hint__arrows_right{
  position: absolute;
  bottom: -4rem;
  right: 0;
}

@media (max-width:970px), (max-device-width:970px) {
  .hint_test{
    margin-top: 0;
  }

  .hint{
    display: flex;
    align-items: center;
  }
}

@media (max-width:576px), (max-device-width:578px) {

  .hint{
    min-height: 50px;
  }

  .hint_test{
    margin-top: 2rem;
  }
}
