doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        main
          .test
            
            
          
            .test__lines
              .test__line
              .test__line
              .test__line
              .test__line
              .test__line
              
            .test__wrapper
            
              .test__number 01
            
              h1.test__title
                | пройдите тестирование
                br
                span.test__title.test__title_yellow проверьте себя
              
              .test__content
                .test__content-primary
                  .question
                    .question__number 3
                    .question__text Далеко-далеко за словесными горами в стране
                
                  .hint.hint_test
                    .hint__arrows.hint__arrows_left «
                    .hint__text Подсказка 1 Подсказка 1 Подсказка 1 Подсказка 1 Подсказка 1 Подсказка 1 Подсказка 1 Подсказка 1 Подсказка 1 Подсказка 1
                    .hint__arrows.hint__arrows_right »
              
            
            
