button {
  outline: none;
  cursor: pointer;
}

.button {
  color: #444;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1.7rem 5.5rem;
  border: 1px solid #e5975d;
  border-radius: 30px;
  background: transparent;
}

.button:hover {
  background: #e5975d;
  color: #fff;
}

.button_test {
  display: block;
  margin-left: auto;
  margin-top: 5rem;
}

@media (max-width:576px), (max-device-width:578px) {
  .button_test {
    margin-right: auto;
    margin-left: auto;
  }
}
